@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --background-two: #f1f0f4;
    --foreground: #0a0a0a;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: #df0029;
    --primary-foreground: #ffffff;

    --secondary: #0f1112;
    --secondary-foreground: #ffffff;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #f5f5f5;
    --accent-foreground: #0a0a0a;

    --destructive: #c83232;
    --destructive-foreground: #ffffff;

    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #0a0a0a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;

    --card: #0a0a0a;
    --card-foreground: #ffffff;

    --popover: #0a0a0a;
    --popover-foreground: #ffffff;

    --primary: #df0029;
    --primary-foreground: #ffffff;

    --secondary: #0f1112;
    --secondary-foreground: #ffffff;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --accent: #262626;
    --accent-foreground: #ffffff;

    --destructive: #a01e1e;
    --destructive-foreground: #ffffff;

    --border: #262626;
    --input: #262626;
    --ring: #d2d2d2;
  }
}

.no-scroll {
  overflow: hidden;
}
